{% extends 'layout.html' %}
{% block title %}Introduction{% endblock title %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="mb-4">Discover Iran's landmark: A Voyage with AI Image Classification</h1>
      <p>
        <h5>Introduction:</h5>
        With a passion for technology and history, I developed a web application capable of identifying and classifying Iran's historical sites using AI-driven image classification. After testing various models, I selected VGG 16 as the final model.
      </p>
      <!-- Continue with the rest of your blog post content -->
      <!-- Add more <p> tags for other sections of your blog post -->
      <!-- Add images, headings, and other formatting as needed -->

      <p>
        <h5>The Quest Begins:</h5>
        As an avid fan of history, my desire for knowledge and passion for technology and AI converged into a remarkable outcome. Eager to unravel the mysteries, I experimented with cutting-edge AI models, including EfficientNet, SVM, and KNN, all seeking to find the ideal result for this application.
      </p>
      <p>
        <h5>The Power of Ensemble Learning:</h5>
        Ensemble learning is a powerful method that combines predictions from multiple models. So, I decided to give it a shot, but it turned out that good old VGG16 was still the top player for my project. In future, I’ll share more about other models on this blog.
      </p>
      <h5>Conclusion:</h5>
      <p>
        Let’s take a closer look at the results. We tested various models including ensemble learning. While VGG16 proved to be our trusty model for accurate predictions, we also encountered other models along the way. We will cover other models and approaches in detail in the near future. Stay tuned!
      </p>
    </div>
  </div>
</div>
{% endblock content %}
