{% extends 'layout.html' %}
{% block title %} Contact {% endblock title %}
{% block content %}

<div class="container mt-5">
  <h1 class="text-center mb-5">Contact Me</h1>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="contact-card text-center">
        <h3>Follow me on Twitter</h3>
        <a href="https://twitter.com/S_Ashkan_Ya" class="btn btn-social btn-lg btn-twitter"><i class="fab fa-twitter"></i> Twitter</a>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="contact-card text-center">
        <h3>Visit my Personal Website</h3>
        <a href="https://www.yourwebsite.com" class="btn btn-social btn-lg btn-website"><i class="fas fa-globe"></i> Personal Website</a>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="contact-card text-center">
        <h3>Contact me on Telegram</h3>
        <a href="https://t.me/your_telegram_id" class="btn btn-social btn-lg btn-telegram"><i class="fab fa-telegram"></i> Telegram</a>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
